* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  /*10px*/
}


body {
  font-family: varela;
  background: linear-gradient(to right, #1e202c, #60519b, #31323e);
}

@font-face {
  font-family: "varela";
  src: url("./assets/varela-round.ttf");
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

button,
input {
  font-family: varela;
  background: none;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

/* HEADER */
.header {
    width: 100vw;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.header-text {
    font-size: 3rem;
    color: #fff;

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
}

.form-wrapper {
  width: 100%;
}

#add-form-wrapper {}

.form {
  border-radius: 4px;
  width: 90%;
  margin: 0 auto;
  display: flex;

}


.input {
  width: 100%;
  font-size: 2rem;
  color: #fff;
  padding:0.5rem 1rem;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.input::placeholder {
  color: #e7e7e7;
  font-size: 1.7rem;
}

.input:focus {
  background: rgba(255, 255, 255, 0.4);
}

.input:focus::placeholder {
  color: #fff;
}

#add-input {}

.form-btn {
  width: 5rem;
  height: 5rem;
  font-size: 2.8rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  transition: all 0.3s;
  text-align: center;
  color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin-left: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
}

.form-btn i {
  pointer-events: none;
}

.form-btn:hover {
  background: rgba(255, 255, 255, 0.4);

}

#add-btn {
}

.alert-text {
  font-size: 2rem;
  font-weight: lighter;
  margin-top: 1.5rem;
  color: #fff;
  height: 0;
  overflow: hidden;
  transition: all 0.4s;
}

.alert-text.show-alert-text {
  height: 2.5rem;
}

.alert-text.animation-alert-text {
  animation: alert-scale 1s ease;
}
@keyframes alert-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#edit-form-wrapper {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  opacity: 0;
  pointer-events: none;
}

/* Add show form class to show or hide edit form */
#edit-form-wrapper.show-form {
  opacity: 1;
  pointer-events: auto;
}

#edit-form {
  transform: translateY(100px);
  transition: all 0.3s;
}

#edit-form-wrapper.show-form #edit-form {
  transform: translateY(0);

}

#edit-input {}

.todo-list {
  width: 100vw;
}

.todo-item {
  margin: 1rem auto;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  background: rgba(30, 32, 44, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 90%;
  border-radius: 15px;
  color: #fff;
}


.todo-text {
  font-size: 2rem;
  /* padding-left: 1rem; */
  padding: 0.8rem 1rem;
  flex: 1;
  display: flex;
  align-items: center;
  line-break: anywhere;
}

.todo-btn {
  font-size: 2.8rem;
  color: #fff;
  transition: all 0.3s;
  padding: 0.8rem;
  width: 5rem;
  cursor: pointer;
  align-items: stretch;
  min-height: 100%;
}

#edit-btn {
  background: #27ad5ab9;
  margin-right: 0;
}

#edit-btn:hover {
  background: #1a8041;
}

#delete-btn {
  background: #d7403bce;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

#delete-btn:hover {
  background: #9f2b27;
}

.footer {
    text-align: center;
}

.footer-text {
    font-size: 1.5rem;
    color: #fff;
    margin-top: 10rem;
}

/* responsive form */
@media screen and (min-width: 700px) {
  .form {
    width: 60%;
  }
  .todo-item {
    width: 60%;
  }
}

@media screen and (min-width: 1100px) {
  .form {
    width: 55%;
  }
  .todo-item {
    width: 55%;
  }
}

@media screen and (min-width: 1220px) {
  .form {
    width: 35%;
  }
  .todo-item {
    width: 35%;
  }
}